@model UrlViewModel
@{
    ViewData["Title"] = "Short url";
}

<h2>URL Shortener Result</h2>

<br/>

<p>
    <strong>Short URL:</strong> 
    <a asp-controller="Url" asp-action="RedirectToLong" asp-route-urlId="@Model.Id">
    @Model.ShortUrl
    </a>
</p>

<p>
    <strong>Secret code:</strong> 
    <a asp-controller="Url" asp-action="Statistic"
    asp-route-urlId="@Model.Id">@Model.SecretCode</a>
</p>