@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-controller="Url" asp-action="Shorter" method="post">
        <label for="url">Enter url here</label>
        <br />
        <br />
        <input type="text" name="url" id="url" style="width: 300px" />
        <br />
        <br />
        <button type="submit">Submit</button>
    </form>
</div>
